[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pydantic = {extras = ["dotenv"], version = "*"}
pygsheets = "*"
linkml = ">=0.1.1.dev1"
black = "==v21.5b1"
linkml-model = ">=0.1.1.dev1"
linkml-runtime = ">=1.0.5"

[pipenv]
allow_prereleases = true
